#main-button {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    background-color: #0073bb;
    box-shadow: 0 12px 16px -9px rgb(0 115 187 / 75%);
    border-radius: 6px;
    padding: 14px 0 14px 0;
    /* font-family: "Helvetica Neue LT Std Bd"; */
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    font-weight: bold;
    /* padding-left: 12px;
    padding-top: 4px; */
}
#main-button:hover {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
    cursor: pointer;
}
#log-table {
    margin: auto;
    border-collapse: collapse;
    width: 80%;
    margin-top: 50px;
}
#log-table th, #log-table td {
    vertical-align: top;
    border: 1px solid #fff;
    color: #5a5a5a;
}
#log-table thead tr {
    background-color: #f4ff7a;
}
#log-table th {
    font-weight: 700;
}
#log-table tr {
    background: #eaf1f8;
}
#log-table tr:nth-child(2n) {
    background-color: #f2f2f2;
}
#log-tbody td {
    text-align: center;
}
@media only screen and (max-width: 767px) {
    #main-button {
        width: 35%;
    }
}